html, body {
    /*height:100%;*/
    /*width:100%;*/
    margin: 1px;
    padding: 1px;
    font-size: 6px;
    color: #46220A;
}

button {
    height: 19px;
    font-size: 6px;
    color: #46220A;
    border-radius: 10px;
    /*box-shadow: 4px 4px 5px Olive;*/
}

input {
    height: 9px;
    font-size: 7px;
    color: #46220A;
    border-radius: 10px;
    /*box-shadow: 4px 4px 5px Olive;*/
}

select {
    height: 11px;
    font-size: 7px;
    color: #46220A;
    border-radius: 10px;
    /*box-shadow: 4px 4px 5px Olive;*/
}

body {
    background-color: SandyBrown;
    word-wrap: break-word;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

.tool {
    width: 100%;
    left: 0;
    right: 0;
    background-color: PaleGreen;
    border-radius: 10px;
    box-shadow: 4px 4px 5px Olive;
}

h1, h2 {
    text-align: center;
}