html, body {
    /*height:100%;*/
    /*width:100%;*/
    margin: 1px;
    padding: 1px;
    font-size: 6px;
    color: #46220A;
}

button {
    height: 19px;
    font-size: 6px;
    color: PaleGreen;
    background: #46220A;
    border-radius: 10px;
    box-shadow: 4px 4px 5px Olive;
}

input {
    /*height: 9px;*/
    /*border-style: inset;*/
    max-height: 7px;
    max-width: 88%;
    font-size: 7px;
    color: #46220A;
    border-radius: 10px;
    /*box-shadow: 4px 4px 5px Olive;*/
}

textarea {
    max-width: 88%;
    height: auto;
    font-size: 7px;
    color: #46220A;
    border-radius: 10px;
}

select {
    height: 11px;
    font-size: 7px;
    color: #46220A;
    border-radius: 10px;
    /*box-shadow: 4px 4px 5px Olive;*/
}

body {
    background-color: SandyBrown;
    word-wrap: break-word;
}

.tool {
    width: 100%;
    left: 0;
    right: 0;
    background-color: PaleGreen;
    border-radius: 10px;
    box-shadow: 4px 4px 5px Olive;
}

.toolChildDiv {
    border-style: inset;
    border-width: 3px;
    border-color: SandyBrown;
    border-radius: 10px;
}

.form {
    color: Black;
    background-color: SandyBrown;
    width: 90%;
    height: 90%;
    margin: auto;
    border-style: inset;
    border-width: 3px;
    border-radius: 10px;
    box-shadow: 4px 4px 5px Olive;
}

h1, h2 {
    text-align: center;
}

.task {
    display: inline-block;
    vertical-align: top;
}

ol {
    list-style-position: inside; padding-left: 0;
}

/* Minimal css for clickable pure CSS collapsible tree menu */
/* As specific as possible to prevent interference with other code */
/* from http://jsfiddle.net/Friar_Broccoli/6LKc6/
    originally from http://www.thecssninja.com/css/css-tree-menu */
.menutree {
    padding-left: 7px;
    list-style: none;          /* all list item li dots invisible */
}
li .menu_label + input[type=checkbox] {
    padding-left: 7px;
    opacity: 0;             /* checkboxes invisible and use no space */
}                        /* display: none; is better but fails in ie8 */
li .menu_label {
    padding-left: 7px;
    cursor: pointer;        /* cursor changes when you mouse over this class */
}                         /* could add the many user-select: none; commands here */
li .menu_label + input[type=checkbox] + ol > li {
    padding-left: 7px;
    display: none;         /* prevents sublists below unchecked labels from displaying */
}
li .menu_label + input[type=checkbox]:checked + ol > li {
    padding-left: 7px;
    display: block;         /* display submenu on click */
}