<!DOCTYPE html>
<html lang="en">

<head>
  <title>Tasks</title>
       <meta name="viewport" content="width=device-width, initial-scale=1">
		 <link rel="stylesheet" href="../jquery.mobile-1.2.0.min.css" />
		 <script src="../backbone-master/test/vendor/jquery-1.7.1.js"></script>
		 <script src="../jquery.mobile-1.2.0.min.js"></script>
</head>

<body>

  <div data-role="page" id="taskapp" data-title="Tasks Page">

    <div data-role="header" id="tasksHeader">
      <h1>Tasks</h1>
    </div>
      <input id="new-task" type="text" placeholder="new task description">
<!--      <input id="new-task-civlife" type="text" placeholder="CivLife"> -->
        <!--Due date:<input type="date" id="duedate">-->
		<table>
    		<tr>
        		<td>
        		    <select id="year">
        			    <option value=2013 selected="selected">2013</option>
        			    <option value=2014>2014</option>
        			    <option value=2015>2015</option>
        			    <option value=2016>2016</option>
        			    <option value=2017>2017</option>
        		    </select>
        		</td>
        		<td>
            		<select id="month">
            			<option value=1>January</option>
            			<option value=2>February</option>
            			<option value=3>March</option>
            			<option value=4>April</option>
            			<option value=5>May</option>
            			<option value=6>June</option>
            			<option value=7>July</option>
            			<option value=8>August</option>
            			<option value=9>September</option>
            			<option value=10>October</option>
            			<option value=11 selected="selected">November</option>
            			<option value=12>December</option>
            		</select>
        		</td>
        		<td>
            		<select id="day">
            			<option value=1>1</option>
            			<option value=2>2</option>
            			<option value=3>3</option>
            			<option value=4>4</option>
            			<option value=5>5</option>
            			<option value=6>6</option>
            			<option value=7>7</option>
            			<option value=8>8</option>
            			<option value=9>9</option>
            			<option value=10>10</option>
            			<option value=11>11</option>
            			<option value=12>12</option>
            			<option value=13>13</option>
            			<option value=14>14</option>
            			<option value=15>15</option>
            			<option value=16>16</option>
            			<option value=17>17</option>
            			<option value=18>18</option>
            			<option value=19 selected="selected">19</option>
            			<option value=20>20</option>
            			<option value=21>21</option>
            			<option value=22>22</option>
            			<option value=23>23</option>
            			<option value=24>24</option>
            			<option value=25>25</option>
            			<option value=26>26</option>
            			<option value=27>27</option>
            			<option value=28>28</option>
            			<option value=29>29</option>
            			<option value=30>30</option>
            			<option value=31>31</option>
            		</select>
        		</td>
    		</tr>
		</table>
	    <select id="repeat">
		    <option value=n selected="selected">none</option>
		    <option value=a>annual</option>
		    <option value=m>monthly</option>
		    <option value=w>weekly</option>
		    <option value=d>daily</option>
	    </select>
		<select id="new-task-civlife">
			<option value="growth" style="color:green">Growth</option>
			<option value="science" style="color:blue">Science</option>
			<option value="gold" style="color:gold">Gold</option>
			<option value="culture" style="color:pink">Culture</option>
			<option value="defense" style="color:grey">Defense</option>
			<option value="wonders" style="color:purple">Wonders</option>
		</select>
    <div data-role="content" id="main">
<!--      <input id="toggle-all" type="checkbox">
      <label for="toggle-all">Mark all as complete</label>-->
	<form>
		<ul data-role="listview">
			<li data-role="fieldcontain">
	        	<fieldset data-role="controlgroup" id="task-list">
			    </fieldset>
			</li>
		</ul>
	</form>
    </div>

    <div data-role="footer" id="tasksFooter">
      <a data-role="button" id="clear-completed">Clear completed</a>
		<a data-role="button" id="new-task-button">Add task</a> 
		<a data-role="button" rel="external" href="../index.html">Back</a>
      <div id="task-count"></div>
    </div>
  </div>

  <div id="instructions">
    Double-click to edit a task.
  </div>


  <script src="../backbone-master/test/vendor/json2.js"></script>
  <script src="../backbone-master/test/vendor/jquery-1.7.1.js"></script>
  <script src="../backbone-master/test/vendor/underscore.js"></script>
  <script src="../backbone-master/backbone.js"></script>
  <script src="../backbone-master/backbone-localstorage.js"></script>
  <script src="tasks.js"></script>

  <!-- Templates -->

  <script type="text/template" id="item-template">
    <div class="view">
      <input class="toggle" type="checkbox" <%= done ? 'checked="checked"' : '' %> />
      <label><%- title %></label>
      <label><%- civlife %></label>
      <label><%- duedatestring %></label>
      <a class="destroy"></a>
    </div>
    <!--<input class="edit" type="text" value="<%- title %>" />-->
  </script>

  <script type="text/template" id="stats-template">
    <% if (done) { %>
      <a id="clear-completed">Clear <%= done %> completed <%= done == 1 ? 'item' : 'items' %></a>
    <% } %>
    <div class="task-count"><b><%= remaining %></b> <%= remaining == 1 ? 'item' : 'items' %> left</div>
  </script>

  </body>
</html>