<!DOCTYPE html>
<html lang="en">

<head>
  <title>Backbone.js Todos</title>
       <meta name="viewport" content="width=device-width, initial-scale=1">
		 <link rel="stylesheet" href="../../../jquery.mobile-1.2.0.min.css" />
		 <script src="../../test/vendor/jquery-1.7.1.js"></script>
		 <script src="../../../jquery.mobile-1.2.0.min.js"></script>
</head>

<body>

  <div data-role="page" id="todoapp" data-title="Todos Page">

    <div data-role="header" id="todosHeader">
      <h1>Todos</h1>
    </div>
      <input id="new-todo" type="text" placeholder="What needs to be done?">

    <div data-role="content" id="main">
<!--      <input id="toggle-all" type="checkbox">
      <label for="toggle-all">Mark all as complete</label>-->
	<form>
		<ul data-role="listview">
			<li data-role="fieldcontain">
	        	<fieldset data-role="controlgroup" id="todo-list">
			    </fieldset>
			</li>
		</ul>
	</form>
    </div>

    <div data-role="footer" id="todosFooter">
      <a data-role="button" id="clear-completed">Clear completed</a>
		<a data-role="button" rel="external" href="../../../index.html">Back</a>
      <div id="todo-count"></div>
    </div>

  </div>

  <div id="instructions">
    Double-click to edit a todo.
  </div>


  <script src="../../test/vendor/json2.js"></script>
  <script src="../../test/vendor/jquery-1.7.1.js"></script>
  <script src="../../test/vendor/underscore.js"></script>
  <script src="../../backbone.js"></script>
  <script src="../backbone-localstorage.js"></script>
  <script src="todos.js"></script>

  <!-- Templates -->

  <script type="text/template" id="item-template">
    <div class="view">
      <input class="toggle" type="checkbox" <%= done ? 'checked="checked"' : '' %> />
      <label><%- title %></label>
      <a class="destroy"></a>
    </div>
    <!--<input class="edit" type="text" value="<%- title %>" />-->
  </script>

  <script type="text/template" id="stats-template">
    <% if (done) { %>
      <a id="clear-completed">Clear <%= done %> completed <%= done == 1 ? 'item' : 'items' %></a>
    <% } %>
    <div class="todo-count"><b><%= remaining %></b> <%= remaining == 1 ? 'item' : 'items' %> left</div>
  </script>

  </body>
</html>
