<!DOCTYPE html>
<html lang="en">

<head>
  <title>Tasks</title>
       <meta name="viewport" content="width=device-width, initial-scale=1">
		 <link rel="stylesheet" href="../lib/jquery.mobile-1.2.0.css" />
		 <script src="../lib/backbone-master/test/vendor/jquery-1.7.1.js"></script>
		 <script src="../lib/jquery.mobile-1.2.0.min.js"></script>
		 <link rel="icon" type="image/ico" href="../res/favicon.ico"/>
</head>

<body>

  <div data-role="page" id="taskapp" data-title="Tasks Page">

    <div data-role="header" data-position="fixed" id="tasksHeader">
      <h1>New Tasks</h1>
    </div>
    <div id="taskinputs">
        <input id="new-task" type="text" placeholder="new task description">
        <!--<input id="contextinput" type="text" placeholder="new task context">-->
		<table>
    		<tr>
        		<td>
        		    <input type="number" id="year" min="2013" max="2100">
        		</td>
        		<td>
        		    <input type="number" id="month" min="1" max="12">
        		</td>
        		<td>
        		    <input type="number" id="day" min="1" max="31">
        		</td>
    		</tr>
		</table>
	    <select id="repeat" data-icon="false">
		    <option value=n selected="selected">none</option>
		    <option value=a>annual</option>
		    <option value=m>monthly</option>
		    <option value=w>weekly</option>
		    <option value=d>daily</option>
	    </select>
		<select id="new-task-civlife" data-icon="false">
			<option value="growth">Growth</option>
			<option value="science">Science</option>
			<option value="gold">Gold</option>
			<option value="culture">Culture</option>
			<option value="defense" selected="selected">Defense</option>
			<option value="wonders">Wonders</option>
		</select>
	</div>
    <div data-role="content" id="main">
	<form>
		<ul data-role="listview">
			<div data-role="fieldcontain">
	        	<fieldset data-role="controlgroup" id="task-list">
			    </fieldset>
			</div>
		</ul>
	</form>
    </div>

    <div data-role="footer" data-position="fixed" id="tasksFooter">
		<a data-role="button" id="new-task-button">Add Task</a>
		<a data-role="button" rel="external" href="../index.html#listsMenuPage">Back</a>
		<!--Add something to switch to tickler/future tasks-->
      <div id="task-count"></div>
    </div>
  </div>

  <div data-role="page" id="newtaskpage">
    <div data-role="content">
    I'm a new task page
    </div>
        <a data-role="button">Add Task</a>
  </div>

  <script src="../lib/backbone-master/test/vendor/json2.js"></script>
  <script src="../lib/backbone-master/test/vendor/jquery-1.7.1.js"></script>
  <script src="../lib/backbone-master/test/vendor/underscore.js"></script>
  <script src="../lib/backbone-master/backbone.js"></script>
  <script src="../lib/backbone-master/backbone-localstorage.js"></script>
  <script src="tasks.js"></script>

  <!-- Templates -->

  <script type="text/template" id="item-template">
    <div class="view">
      <input class="toggle" type="checkbox" id="<%- title %>" <%= done ? 'checked="checked"' : '' %> />
      <label for="<%- title %>"><%- title %> <br>&nbsp&nbsp&nbsp&nbsp&nbsp<%- duedatestring %></label>
    </div>
  </script>

  <script type="text/template" id="stats-template">
    <% if (done) { %>
      <a id="clear-completed">Clear <%= done %> completed <%= done == 1 ? 'item' : 'items' %></a>
    <% } %>
    <div class="task-count"><b><%= remaining %></b> <%= remaining == 1 ? 'item' : 'items' %> left</div>
  </script>

  </body>
</html>